body {
    width: 100vw;
    height: 100vh;
    background-image: url(222.jpg);
    overflow: hidden;
   
}
#cover {
    position: relative;
    top: 120px;
    left: 450px;
    width: 430px;
    height: 400px;
    background-color: transparent;
}
#form {
    position: relative;
    top: 5px;
    left: 15px;
    width: 365px;
    height: 360px;
    line-height: 1.7em;
    font-size: 1.2em;
    color: transparent;
    border: 1px dotted black;
}
#form :hover {
    color: black;
    cursor: pointer;
}
#welcome {
    position: relative;
    font-size: 3em;
    top: 40px;
    left: 450px;
    color: transparent;
    animation: a 2s step-start 1s infinite;
}
@keyframes a {
    0% {
        color: transparent;
    }
    100% {
        color: black;
    }
}
#start_button {
    position: relative;
    top: 100px;
    left: 180px;
    width: 5em;
    height: 2em;
    background-color: gold;
    border: 2px inset black;
    box-shadow: 0 16px 32px 0 goldenrod;
}
#total {
    margin-left: 75px;
}
#area {
    margin-left: 55px;
}