body {
    margin: 0;
    display: grid;
    grid-template: 50px 90% 30px / 30px 31% 20px 31% 20px 30% 30px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(204, 253, 237);
    overflow: hidden;
    font-family: fantasy;
}
.headers {
    grid-area: 1 / 2 / 1 / 7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: larger;
    padding-top: 15px;
}
.this-week {
    grid-area: 2 / 2;
    border: 1px dashed rgb(10, 10, 10);
}
.next-week {
    grid-area: 2 / 4;
    border: 1px dashed rgb(10, 10, 10);
}
.students-info {
    grid-area: 2 / 6;
    display: grid;
    border: 1px dashed rgb(10, 10, 10);
}
#h1 {
    position: relative;
    left: 8em;
}
#h3 {
    position: relative;
    right: 8em;
}
.this-week, .next-week {
    display: grid;
    grid-template: 20px 22% 10px 22% 10px 22% 10px 22% 20px / 20px 44% 10px 44% 20px;
}
.day-monday, .day-tuesday, .day-wednesday, .day-thursday, .day-friday, .day-saturday, .day-sunday {
    background-color:white;
    list-style-type: none;
    display: grid;
    grid-template: 20% 80% / 100%;
    cursor: pointer;
}
.day-monday {
    grid-area: 2 / 2;
}
.day-tuesday {
    grid-area: 4 / 2;
}
.day-wednesday {
    grid-area: 6 / 2;
}
.day-thursday {
    grid-area: 2 / 4;
}
.day-friday {
    grid-area: 4 / 4;
}
.day-saturday {
    grid-area: 6 / 4;
}
.day-sunday {
    grid-area: 8 / 4;
}
.monday, .tuesday, .wednesday, .thursday, .friday, .saturday, .sunday {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    background-color: transparent;
    grid-area: 2 / 1;
}
.input-this-week-lesson {
    grid-area: 8 / 2;
    background-color:white;
}
button {
    background-color: rgb(158, 156, 156);
}
.students-info {
    display: grid;
    grid-template: 20px 27% 10px 65% 20px / 20px 91% 20px;
}
.students-profiles {
    grid-area: 1 / 1 / 3 / 4 ;
    display: grid;
    grid-template: 20px 30px 10px 40% 10px 40% 20px / 20px 28% 25px 28% 25px 28% 20px;
}
#add-new-student {
    grid-area: 2 / 4;
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.photo-best-students {
    grid-area: 4 / 1 / 4 / 7;
    display: grid;
    grid-template: 100% / 20px 29% 10px 28% 10px 28% 20px;
}
.first-place-student-photo, .second-place-student-photo, .third-place-student-photo {
    background-size: 100% 130%;
    background-repeat: no-repeat;
    border: 1px dashed grey;
    cursor: pointer;
}
.first-place-student-photo {
    grid-area: 1 / 2;
    background-image: url(../style/Nadya.jpg);
}
.second-place-student-photo {
    grid-area: 1 / 4;
    background-image: url(../style/Katerina.jpg);
}
.third-place-student-photo {
    grid-area: 1 / 6;
    background-image: url(../style/Sveta.jpg);
}
.profiles {
    grid-area: 6 / 1 / 6 / 7;
    display: grid;
    grid-template: 100% / 33% 33% 33%;
    list-style-type: none;
    padding-left: 35px;
}
.first-place-student-info {
    grid-area: 1 / 1;
}
.second-place-student-info {
    grid-area: 1 / 2;
}
.third-place-student-info {
    grid-area: 1 / 3;
}
.current-info{
    grid-area: 4 / 1 / 6 / 4 ;
    display: grid;
    grid-template: 40px 30px 30px 65% 20px / 20px 20% 10px 50% 10px 20% 20px;
}
.input-info-to-remember {
    grid-area: 1 / 3 / 1 / 6;
    background-color: white;
}
.buttons-info {
    grid-area: 3 / 1 / 3 / 7;
    display: flex;
    justify-content: space-evenly;

}
.notes {
    grid-area: 4 / 1 / 6 / 7;
    list-style-type: none;
    color: goldenrod
}
.notes li.last {
    color: blue;
}


